<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{ url_for('static', filename='css/actcanciones.css') }}">
    <title>Actualizar Canciones</title>
</head>
<body>
   <h1>Editar Canciones</h1>
   <div class="form-group">
   <form method="POST" action="">
    <label>Codigo:</label>
    <input type="number" name="idcancion" value="{{canciones[0]}}" disabled> <br>
    
    <label>Titulo:</label>
    <input type="text" name="titulo" value="{{canciones[1]}}"> <br>

    <label>Artista:</label>
    <input type="text" name="artista" value="{{canciones[2]}}"> <br>

    <label>Genero:</label>
    <input type="email" name="genero" value="{{canciones[3]}}"> <br>

    <label>Precio:</label>
    <input type="number" name="precio" value="{{canciones[4]}}"> <br>

    <label>Duracion:</label>
    <input type="time" name="duracion" value="{{canciones[5]}}"> <br>

    <label>Lanzamiento:</label>
    <input type="date" name="usuper" value="{{canciones[6]}}"> <br>

</form>
</div>
</body>
</html>