<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href='{{ url_for('static',filename='css/registro.css')}}'>
    <link rel="stylesheet" href="/app/stactic/css/registro.css">
    <title>Registro</title>
</head>
<body>
            <div class="name">
            <form action="/registrocanciones" class="form" method="POST">
            
                <h1>Registro Canciones</h1>
                    <form>
            <div class="contain">
                <p>
                    <label class="select">Titulo</label>
                    <input class="input"  type="text"  maxlength="50" placeholder="Ingrese Titulo" required name="titulo" utofocus required/>
                </p>
            </div>
                           
            <div class="contain">
                <p>
                    <label class="select">Artista</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese Artista" required name="artista" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">Género</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese Género" required name="genero" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">Precio</label>
                    <input class="input" type="number"  maxlength="50" placeholder="Ingrese Precio" required name="precio" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select"> Duración</label>
                    <input class="input" type="time"  maxlength="50" placeholder="Ingrese Duración" required name="duracion" autofocus required/>
                </p>
            </div>
           
            <div class="contain">
                <p>
                    <label class="select">Lanzamiento</label>
                    <input class="input" type="date"  maxlength="50" placeholder="Ingrese fecha de lanzamiento" required name="lanzamiento" autofocus required/>
                </p>
            </div>

            <div class=contain"contain">
                <p>
                    <label for="img">Imagen URL:</label>
                    <input type="url" id="img" required><br><br>
            <div class="contain">
                <input type="submit" class="submitBtn" value="Registrar">
                
            </div>
            </form>
            </div>
        </form>
    </body>
    </html>