<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href='{{ url_for('static',filename='css/styleingreso.css')}}'>
    <link rel="stylesheet" href="/app/stactic/css/styleingreso.css">
    <title>INGRESO</title>
    
  </head>
  <body>
    <div class="form-group">
      <h1>INGRESAR</h1>
      <form action="/Ingresar" method="POST">
        <label for="username">Usuario:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Ingresar">
      </form> 
    </div>
  </body>
</html>