<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href='{{ url_for('static',filename='css/registro.css')}}'>
    <link rel="stylesheet" href="/app/stactic/css/registro.css">
    <title>Registro</title>
</head>
<body>
            <div class="name">
            <form action="/registrousuario" class="form" method="POST">
            
                <h1>Registro Usuario</h1>
                    <form>
            <div class="contain">
                <p>
                    <label class="select">Nombre Usuario</label>
                    <input class="input"  type="text"  maxlength="50" placeholder="Ingrese Nombre" required name="nombreusu" utofocus required/>
                </p>
            </div>
                           
            <div class="contain">
                <p>
                    <label class="select">Apellido Usuario</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese Apellido" required name="apellidousu" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">E-mail Usuario</label>
                    <input class="input" type="email"  maxlength="50" placeholder="Ingrese E-mail" required name="emailusu" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">Dirección</label>
                    <input class="input" type="text"  maxlength="50" placeholder="Ingrese la dirección" required name="direccionusu" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <p>
                    <label class="select">Telefono Usuario</label>
                    <input class="input" type="number"  maxlength="50" placeholder="Ingrese el telefono" required name="telefonousu" autofocus required/>
                </p>
            </div>
           
            <div class="contain">
                <p>
                    <label class="select">Contraseña</label>
                    <input class="input" type="password"  maxlength="50" placeholder="Ingrese la contraseña" required name="contraseña" autofocus required/>
                </p>
            </div>
            <div class="contain">
                <input type="submit" class="submitBtn" value="Registrar">
                
            </div>
            </form>
            </div>
        </form>
    </body>
    </html>